/*header*/
#menu-main-navigation {

    float:right;
    text-transform: uppercase;

}

header .container-fluid {
    padding-right: 0px;
    padding-left: 0px;


}
#menu-main-navigation a{
//border: 1px solid #ffffff;

}

#menu-main-navigation a{
    color: #ffffff;
    font-weight:700;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 16.8px;
}

#menu-main-navigation a:hover{
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    /* Text style for "HOME" */
    color: #c59966;
    border: 1px solid #ffffff;
    background-color: #2f2d2a;
    font-weight:bold;
    font-size: 14px;
}

.navbar {
    background-color: #1b1a18;
    border: 0;
    border-radius: 0;
}

#templatemo_logo img {
    margin-top: 7px;
}

.top_footer {
    width: 100%;
    height: 30vh;
    background-color: #1b1a18;
    opacity: 0.9;
}

.navbar-default .navbar-nav>.active>a {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    /* Text style for "HOME" */
    color: #c59966 !important;
    border: 1px solid #ffffff;
    background-color: #2f2d2a;

    font-size: 14px;
}

.footer-head {
    text-align: center;
}

#sidebar h2.widget-title {

    color: #191918;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 75px;
    margin: 0 auto;

}

#sidebar h2.widget-title::after {
    content: '';
    border-bottom-style: solid 2px;
    width: 70px;
    height: 2px;
    background-color: #c69b6e;
}

#sidebar h2.widget-title {
    /* чтобы линии не выходили за ширину блока заголовка */
    overflow: hidden;
}

#sidebar h2.widget-title:after {
    content: '';

    /* делаем линию строчно-блочной */
    display: block;

    /* выравниваем вертикально по середине */
    vertical-align: middle;

    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    box-sizing: border-box;

    /* установка ширины в 100% делает линию равной ширине тега заголовка
    ** благодаря этому линия заполнит все свободное пространство
    ** слева и справа от текста
    */
    width: 70px;
    height: 2px;
    background-color: #c69b6e;

    /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
    ** благодаря этому создается нужный отступ между линиями и текстом
    */
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px
}

.widget_categories ul {
    border: 1px solid #cccccc;
    padding-left: 30px;
    padding-right: 30px;
}

.widget_categories li{
    list-style-type: none;
    padding-top: 29px;
    padding-bottom: 24px;
}
.widget_categories li a{

    color: #c5996c !important;
    font-family: "Open Sans" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-transform: uppercase;

}

.widget_categories li {
    border-bottom: 1px solid;
    border-color: #cccccc;

}

.widget_categories li:last-child {
    border-bottom: none;

}


div#calendar_wrap.calendar_wrap {
    background-color: #f6f6f6;
    padding: 30px;
}

div#calendar_wrap.calendar_wrap caption {
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-transform: uppercase;
}

div#calendar_wrap.calendar_wrap thead {
    color: #a9a9a9;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-transform: uppercase;


}

div#calendar_wrap.calendar_wrap a {
    color: #525252;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    /* Text style for "1, 3, 7, 8" */
    color: #c6996a;
    font-weight: 700;
}

#wp-calendar {
    width: 100%;
}

#sidebar .textwidget p{
    background-color: #f6f6f6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 26px;
}

.widget_most_popular_tags a {
    background-color: #1a1918;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding: 10px 15px 10px 15px;
}

.search-form .screen-reader-text {
    display: none;
}

.search-form .search-submit{
    display: none;
}

.search-form .search-field{
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 17px;

}


.search-form .search-field::-webkit-input-placeholder { /* Chrome */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
}
.search-form .search-field:-ms-input-placeholder { /* IE 10+ */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
}
.search-form .search-field::-moz-placeholder { /* Firefox 19+ */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
    opacity: 1;
}
.search-form .search-field:-moz-placeholder { /* Firefox 4 - 18 */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
    opacity: 1;
}

#sidebar .search-field {
    width: 310px;
}

#sidebar .popular-posts li{
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding-top: 29px;
    padding-left: 32px;
    padding-right: 40px;
    padding-bottom: 29px;
    margin-bottom: 15px;
}
#sidebar .popular-posts li:last-child{
    margin-bottom: 0px;
}
#sidebar ul.wpp-list {
    padding-left: 0;
}
#sidebar .popular-posts a.wpp-post-title{
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
}

#sidebar .popular-posts .post-stats {
    margin-top: 23px;
}