.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*header*/
#menu-main-navigation {

    float: right;
    text-transform: uppercase;

}

header .container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}

#menu-main-navigation a {
/ / border: 1 px solid #ffffff;

}

#menu-main-navigation a {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 16.8px;
}

#menu-main-navigation a:hover {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    /* Text style for "HOME" */
    color: #c59966;
    border: 1px solid #ffffff;
    background-color: #2f2d2a;
    font-weight: bold;
    font-size: 14px;
}

.navbar {
    background-color: #1b1a18;
    border: 0;
    border-radius: 0;
}

#templatemo_logo img {
    margin-top: 7px;
}

.top_footer {
    width: 100%;
    /*height: 30vh;*/
    background-color: #1b1a18;
    opacity: 0.9;
}

.navbar-default .navbar-nav > .active > a {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    /* Text style for "HOME" */
    color: #c59966 !important;
    border: 1px solid #ffffff;
    background-color: #2f2d2a;

    font-size: 14px;
}

.footer-head {
    text-align: center;
}

#sidebar h2.widget-title {

    color: #191918;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 75px;
    margin: 0 auto;

}

#sidebar h2.widget-title::after {
    content: '';
    border-bottom-style: solid 2px;
    width: 70px;
    height: 2px;
    background-color: #c69b6e;
}

#sidebar h2.widget-title {
    /* чтобы линии не выходили за ширину блока заголовка */
    overflow: hidden;
}

#sidebar h2.widget-title:after {
    content: '';

    /* делаем линию строчно-блочной */
    display: block;

    /* выравниваем вертикально по середине */
    vertical-align: middle;

    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    box-sizing: border-box;

    /* установка ширины в 100% делает линию равной ширине тега заголовка
    ** благодаря этому линия заполнит все свободное пространство
    ** слева и справа от текста
    */
    width: 70px;
    height: 2px;
    background-color: #c69b6e;

    /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
    ** благодаря этому создается нужный отступ между линиями и текстом
    */
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px
}

.widget_categories ul {
    border: 1px solid #cccccc;
    padding-left: 30px;
    padding-right: 30px;
}

.widget_categories li {
    list-style-type: none;
    padding-top: 29px;
    padding-bottom: 24px;
}

.widget_categories li a {

    color: #c5996c !important;
    font-family: "Open Sans" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-transform: uppercase;

}

.widget_categories li {
    border-bottom: 1px solid;
    border-color: #cccccc;

}

.widget_categories li:last-child {
    border-bottom: none;

}

div#calendar_wrap.calendar_wrap {
    background-color: #f6f6f6;
    padding: 30px;
}

div#calendar_wrap.calendar_wrap caption {
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-transform: uppercase;
}

div#calendar_wrap.calendar_wrap thead {
    color: #a9a9a9;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-transform: uppercase;

}

div#calendar_wrap.calendar_wrap a {
    color: #525252;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    /* Text style for "1, 3, 7, 8" */
    color: #c6996a;
    font-weight: 700;
}

#wp-calendar {
    width: 100%;
}

#sidebar .textwidget p {
    background-color: #f6f6f6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 26px;
}

.widget_most_popular_tags a {
    background-color: #1a1918;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding: 10px 15px 10px 15px;
}

.search-form .screen-reader-text {
    display: none;
}

.search-form .search-submit {
    display: none;
}

.search-form .search-field {
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 17px;

}

.search-form .search-field::-webkit-input-placeholder { /* Chrome */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
}

.search-form .search-field:-ms-input-placeholder { /* IE 10+ */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
}

.search-form .search-field::-moz-placeholder { /* Firefox 19+ */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
    opacity: 1;
}

.search-form .search-field:-moz-placeholder { /* Firefox 4 - 18 */
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
    opacity: 1;
}

#sidebar .search-field {
    width: 310px;
}

#sidebar .popular-posts li {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding-top: 29px;
    padding-left: 32px;
    padding-right: 40px;
    padding-bottom: 29px;
    margin-bottom: 15px;
}

#sidebar .popular-posts li:last-child {
    margin-bottom: 0px;
}

#sidebar ul.wpp-list {
    padding-left: 0;
}

#sidebar .popular-posts a.wpp-post-title {
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
}

#sidebar .popular-posts .post-stats {
    margin-top: 23px;
}

#our-blog-title {
    border-bottom: 1px solid;
    border-color: #cccccc;
    text-align: center;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#our-blog-title h1 {
    color: #191918;
    font-family: "Bebas Neue";
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-transform: uppercase;
}

#our-blog-title p {
    color: #1a1918;
    font-family: "Open Sans - Semibold";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.post-date-number {
    color: #191918;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}

.post-date-mounth {
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.left-dates {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #cccccc;
    max-width: 70px;
}

.left-dates img {
    margin-bottom: 27px;
}

.quote-post {
    background-color: #f6f6f6;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-content-quote {
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    line-height: 33.6px;
    padding-top: 28px;
    padding-left: 32px;
    padding-right: 48px;
}

.post-title-quote, .post-title-quote a {
    color: #191918;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    padding-left: 33px;
    padding-bottom: 27px;
    padding-top: 28px;
}

.post-title-quote a {
    padding-left: 0px;
}

.quote-post-border {
    border: 1px solid #c79a6a;
}

.post-content-quote:after {
    content: '';
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px;
}

.post-title-music, .post-title-music a {
    text-align: left;
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
}

.music-post h1 {
    margin: 0 auto;
}

.post-metadata-music {
    text-align: left;
    margin-top: 28px;
}

.post-metadata-music:after, .post-metadata-standard:after, .post-metadata-video:after {
    content: '';
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px;
}

.post-audio-excerpt p {
    text-align: left;
    color: #191918;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.post-content-music {
    padding-bottom: 49px;
}

.global-content {
    margin-bottom: 100px;
}

.music-post {
    margin-left: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.post-metadata-music i {
    margin-right: 10px;
}

.post-title-standard, .post-title-standard a, .post-title-video, .post-title-video a {
    margin: 0 auto;
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
}

.post-metadata-standard, .post-metadata-video {
    text-align: left;
    margin-top: 28px;
}

.post-metadata-music i, .post-metadata-music a, .post-metadata-standard i, .post-metadata-standard a, .post-metadata-video i, .post-metadata-video a {
    margin-right: 10px;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

.post-metadata-standard i:nth-child(2), .post-metadata-music i:nth-child(2), .post-metadata-video i:nth-child(2) {
    margin-right: 0px;
}

.post-standard-excerpt, .post-video-excerpt {
    color: #191918;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
}

.post-standard-readmore a, .post-video-readmore a {
    background-color: #1a1918;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    padding: 10px 40px 10px 40px;

}

.post-standard-readmore, .post-video-readmore {
    margin-top: 46px;
    text-align: left;
}

.standard-post {
    margin-left: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.thumbnail-img {
    margin-bottom: 48px;
}

.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
/ / background: #f6f6f6 !important;
}

.mejs-horizontal-volume-current, .mejs-time-slider {
    background-color: #c59a6d !important;
}

.mejs-playpause-button {
    color: #191918 !important;
}

.post-standard-excerpt, .post-video-excerpt, .post-audio-excerpt {
    margin-top: 30px;
}

.footer-icon i {
    width: 48px;
    height: 39px;
    color: #ffffff;
    /* font-family: "Font Awesome"; */
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
}

.footer-widget h2 {
    margin-top: 15px;
    margin-left: 0px;
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-transform: uppercase;
}

.footer-widget p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.footer-widget {
    padding-left: 29px;
}

.footer-head h2 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    text-transform: uppercase;
}

.footer-head p {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.footer-head {
    padding-top: 100px;
    padding-bottom: 71px;
}

.three-block {
    padding-bottom: 97px;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 0px !important;
    padding-bottom: 10px;

}

.footer_social a, .footer_social i {
    color: #191918;

    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-left: 10px;
}

.copyrights, .footer_social {
    padding-bottom: 50px;
    padding-top: 50px;
}

.video-section {
    position: relative;
    width: 100%;
    max-height: 350px;
    overflow: hidden;
}

#video-elem {
    width: 100%;
}

video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-overlay:hover {
    opacity: 1;
}

.video-overlay h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
    font-size: 3em;
    color: #000;
    text-align: center;
}

.content-of-article ul {
    list-style-image: url(../images/bullet.jpg);
}

.content-of-article ol {
    counter-reset: li; /* Initiate a counter */
    margin-left: 0; /* Remove the default left margin */
    padding-left: 0; /* Remove the default left padding */
}

.content-of-article ol > li {
    position: relative; /* Create a positioning context */
    margin: 0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding: 4px 8px; /* Add some spacing around the content */
    list-style: none; /* Disable the normal item numbering */

}

.content-of-article ol > li:before {
    content: counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    /* Position and style the number */
    position: absolute;
    top: -2px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #f6f6f6;
    color: #191918;
    background: #f6f6f6;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.content-of-article li ol,
.content-of-article li ul {
    margin-top: 6px;
}

.content-of-article ol ol li:last-child {
    margin-bottom: 0;
}

.content-of-article p::first-letter {

    color: #191918;

    font-size: 56px;
    font-weight: 600;
    line-height: 89.6px;

    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.content-tags a {
    background-color: #1a1918;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding: 10px 15px 10px 15px;
}

.content-of-article, .post-thumbnail, .single-post-excerpt, .social-share {
    margin-bottom: 50px;
}

.content-tags {
    margin-bottom: 100px;
}

.post-metadata-standard, .author-description {
    margin-bottom: 30px;
}

.about-author {
    padding: 30px 30px 30px 30px;
    background-color: #f6f6f6;

}

.about-author-title {
    color: #191918;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.author-description {
    color: #191918;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
}

.social-description a, i {
    color: #777777;
    font-family: "Font Awesome";
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    margin-left: 1px;
}

.all-author-posts {
    color: #777777;
    font-family: "Open Sans - Semibold";
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-transform: uppercase;
    /* Text style for "ALL, FROM," */
    font-weight: 600;
}

.about-author-title:after {
    content: '';
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px;
}

#related_posts h3 {
    color: #191918;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-transform: uppercase;
}

#related_posts h3:after {
    content: '';
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px;
}

.relatedcontent {
    padding: 30px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    width: calc(50% - 10px);

}

.relatedcontent h4 a {
    color: #c5996c;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
}

.relatedcontent h4 a:after {
    content: '';
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px;
}

.rel-posts-excerpt {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    margin-bottom: 30px
}

.read-more-rel-post a {
    background-color: #1a1918;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding: 10px 15px 10px 15px;
}

.rpbycat {
    display: flex;
}

.comment-title, .comment-reply-title {
    color: #191918;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}

.comment-title:after,
.comment-reply-title:after {
    content: '';
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    border: solid #FFF;
    border-width: 0 0px;
    margin-top: 29px;
}

.comment-list {
    list-style-type: none;
}

.comment {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
}

.says {
    display: none;
}

.fn {
    text-transform: uppercase;
}

.reply a {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;
    text-transform: uppercase;
    background-color: #c69b6e;
    padding: 8px 16px 8px 16px;

}

.comment-form-comment label {
    display: none;
}

.submit {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    padding: 20px 50px 20px 50px;
    background-color: #c59a6d;
}

#related_posts_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* FRONT PAGE */
#designing {
    background-color: #1b1a18;
    display: flex;
}

.navbar.navbar-default {
    margin-bottom: 0px;
}

.titles {
    padding-top: 231px;
    margin: auto;
}

.titles h1 {
    color: #ffffff;
    font-family: "Bebas Neue";
    /*font-size: 128px;*/
    font-size: 7vw;
    font-weight: 400;
    line-height: 153.6px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

.titles p {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin: 0 auto;
    text-align: center;
}

.titles hr {
    width: 170px;
    height: 4px;
    background-color: #c69b6e;
    border-top: 0px;
}

#designing .button {
    font-family: "Font Awesome";
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    border: 1px solid #ffffff;
    padding: 0px 11px 0px 11px;

}

#designing .button i {
    color: #c69b6e;

}

.buttonblock {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
}

.wpp-author {
    margin-left: 20px;
}

.wpp-author a {
    color: #777777;
}

#ourteam .container {
    /*display: flex;*/
}

#ourteam img {
    padding: 9px;
    border: 1px solid #cccccc;
}

#ourteam .team-member-name {
    color: #c59a6d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-transform: uppercase;
}

#ourteam .team-member-position {
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
}

#rcps_submit {
    padding: 17px 30px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
    background-color: #c5996c;

}

#rcps_submit i{
    color: #fff;
    margin-right: 10px;
}

#rcps_contact_email {
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
    height: 48px;
    width: 100%;
    margin-bottom: 7px;
}

#rcps_contact_email::-webkit-input-placeholder {
    color: #777777;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
    padding: 30px;
}


.subscription-wdg {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 30px 30px;
}

.subscription-wdg-desc {
    margin-bottom: 27px;
}

